:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 0px;
}
html, body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  color: white;
  font-size: 20px;
  background: rgb(19, 52, 83);
  font-family: arial;
  position: relative;
}
h1 {
  text-align: center;
}
.base-color {
  color: var(--base);
}
div.controls {
  margin-bottom: 30px;
  text-align: center;
}
input {
  width: 100px;
  margin-right: 20px;
}
img {
  margin-left: 20%;
  border-radius: 10px;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}
.no-display {
  display: none;
}
.red-dot {
  width: 10px;
  height: 10px;
  background: red;
  position: relative;
}
