html {
  color: black;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

h1 {
  text-shadow: 192px -37px 0 deepskyblue,
    -192px -37px 0 gold,
    -192px 37px 0 red,
    192px 37px 0 lightgreen;
  font-size: 100px;
}
